body {
  font-family: Menlo, Consolas, monospace;
  color: #444;
}
.item {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
ul {
  line-height: 1.5em;
  list-style: square;
  padding-left: 1em;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 45% 100%;
}

.instructions {
    background: #eee;
    padding: 5px;
}

.col1 {
    grid-column: 1 / 2;
}
.col2 {
    padding-top: 30px;
    max-width: 50%;
    grid-column: 2 / 2;
}

.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 500px;
  text-align: center;
}
